# Node
node_modules/

# Python
venv/
__pycache__/
*.pyc

# Environment
.env

# Playwright
playwright-report/
test-results/

# Logs
*.log

# Windows
Thumbs.db

# Mac
.DS_Store

# VS Code
.vscode/settings.json